{
    "postgresql": {
        "DATABASE_USER": "$DATABASE_USER",
        "DATABASE_PASSWORD": "$DATABASE_PASSWORD",
        "DATABASE_DB": "$DATABASE_DB",
        "DATABASE_HOST": "$DATABASE_HOST"
    },
    "superset": {
        "BASE_URL": "$SUPERSET_BASE_URL",
        "USER": "$SUPERSET_USER",
        "PASSWORD": "$SUPERSET_PASSWORD"
    }
}
