{
    "postgresql": {
        "DATABASE_USER": "$DATABASE_USER",
        "DATABASE_PASSWORD": "$DATABASE_PASSWORD",
        "DATABASE_DB": "$DATABASE_DB",
        "DATABASE_HOST": "$DATABASE_HOST"
    }
}
